<h1><%= @genre.name %> Books</h1>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4 mb-3">
      <div class="card p-3">
        <h5><%= link_to book.title, book_path(book) %></h5>
        <p><%= book.author.name %></p>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @books %>